.display-4{
    font-size: 24px;
    font-style: bold;
    text-align: center;
}
#promtGame{
    padding-left: 25px;
}
#computerWordPrompt, #computerWord{
    padding-left: 25px;
    font-size: 24px;
}
